<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @computer.name %>
</p>

<p>
  <strong>Idf:</strong>
  <%= @computer.idf %>
</p>

<p>
  <strong>Scep:</strong>
  <%= @computer.scep %>
</p>

<p>
  <strong>Lab:</strong>
  <%= @computer.lab %>
</p>

<p>
  <strong>Os:</strong>
  <%= @computer.os %>
</p>

<p>
  <strong>College:</strong>
  <%= @computer.college %>
</p>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
